body{
    background-image: url("bg-whapp.png");
}

.bg-WhatsApp{
    background-color: #1ebea5;
    color: white;
}

.content{
    margin-left: auto;
    margin-right: auto;  
    padding-top: 4%;
    text-align: center;
}

.container{
    padding-bottom: 5%;
}


.list{
    list-style-type: none;
}

footer{
    text-align: center;
    background-color: #1ebea5;
    padding-top:10%; 
}

.inline-form{
    margin-left: auto;
    margin-right: auto;
}

.phone{
    width: 40%;
}

.codes{
    width: 40%;
}
select{
    margin-left: auto;
    margin-right: auto;
}

input{
    margin-left: auto;
    margin-right: auto;
}

textarea {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}